@import './theme.css';

html, body, #root {
  overflow-x: hidden;
  height: 100%;
  min-height: 100dvh; /* use min-height, not max-height */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;  /* use min-height, not max-height */
  align-items: stretch; /* let children fill horizontally */
}
@media screen and (max-width: 1000px) {
  bodies {
    zoom: 0.7; /* 80% zoom */
  }
}
